<h1>Button <%= @button.id %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Type of button</th>
      <th scope="col">Size</th>
      <th scope="col">Count of buttons</th>
      <th scope="col">Edit count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @button.type_of_button %></th>
      <td><%= @button.size %></td>
      <td><%= @button.count %></td>
      <td><%= link_to 'Edit count', edit_button_path(@button), class: 'btn btn-warning' %></td>
    </tr>
  </tbody>
</table>
<p>
  <%= link_to 'All buttons', buttons_path, class: 'btn btn-info' %>
</p>
