<h1>Fabric <%=@fabric.id %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Fabric</th>
      <th scope="col">Composition</th>
      <th scope="col">Weigth</th>
      <th scope="col">Color</th>
      <th scope="col">Measure</th>
      <th scope="col">Date of delivery</th>
      <th scope="col">Count</th>
      <th scope="col">Price</th>
      <th scope="col">Edit count & price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @fabric.fabric %></th>
      <td><%= @fabric.composition %></td>
      <td><%= @fabric.weigth %></td>
      <td><%= @fabric.color %></td>
      <td><%= @fabric.measure %></td>
      <td><%= @fabric.updated_at.nil? ? @fabric.created_at : @fabric.updated_at %></td>
      <td><%= @fabric.count %></td>
      <td><%= @fabric.price %></td>
      <td><%= link_to 'Edit count & price', edit_fabric_path(@fabric), class: 'btn btn-warning' %></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'All fabrics', fabrics_path, class: "btn btn-outline-dark" %>
