<h1>Edit rubber <%= @rubber.id %> <%= @rubber.color %></h1>
<h3>Current count <%= @rubber.count %></h3>

<%= form_with(model: @rubber, local: true) do |form| %>
  <% if @rubber.errors.any? %>
    <div id="error_explanation" style="font-color: red;">
      <h2><%= pluralize(@rubber.errors.count, "error") %> prohibited this rubber from being saved:</h2>

      <ul>
      <% @rubber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <input name="count" type="number" min="1" placeholder="Count" class="form-control">
  </div>

  <div class="form-group">
    <input type="checkbox" name="substract"> Substract
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
    <%= render 'buttons', rubber: @rubber %>
  </div>
<% end %>
