<h1><%= @article.id %> <%= @article.title %></h1>
<h2>New button manifests</h2>
<%= form_with url: button_create_manifests_path do |form| %>
  <% if @button_manifest && @button_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button_manifest.errors.count, "error") %> prohibited this button_manifest from being saved:</h2>

      <ul>
      <% @button_manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :article_id, value: @article.id %>

  <% button = Button.all %>

  <div class="form-group">
    <select name="button_id" class="custom-select">
      <% button.each do |b| %>
        <option value="<%= b.id %>"><%= b.type_of_button %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <input name="count" type="text" class="form-control">
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
