<h1><%= @article.id %> <%= @article.title %></h1>
<h2>New fabric manifests</h2>
<%= form_with url: fabric_create_manifests_path do |form| %>
  <% if @fabric_manifest && @fabric_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fabric_manifest.errors.count, "error") %> prohibited this fabric_manifest from being saved:</h2>

      <ul>
      <% @fabric_manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :article_id, value: @article.id %>

  <% fabrics = Fabric.all %>

  <div class="form-group">
    <select name="fabric_id" class="custom-select">
      <% fabrics.each do |f| %>
        <option value="<%= f.id %>"><%= f.fabric %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <input name="count" type="text" class="form-control">
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
