<h1><%= @article.id %> <%= @article.title %></h1>
<h2>New label manifests</h2>
<%= form_with url: label_create_manifests_path do |form| %>
  <% if @label_manifest && @label_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@label_manifest.errors.count, "error") %> prohibited this label_manifest from being saved:</h2>

      <ul>
      <% @label_manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :article_id, value: @article.id %>

  <% labels = Label.all %>

  <div class="form-group">
    <select name="label_id" class="custom-select">
      <% labels.each do |l| %>
        <option value="<%= l.id %>"><%= l.measure %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <input name="count" type="text" class="form-control">
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
