<h1><%= @article.id %> <%= @article.title %></h1>
<h2>New rubber manifests</h2>
<%= form_with url: rubber_create_manifests_path do |form| %>
  <% if @rubber_manifest && @rubber_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rubber_manifest.errors.count, "error") %> prohibited this rubber_manifest from being saved:</h2>

      <ul>
      <% @rubber_manifest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :article_id, value: @article.id %>

  <% rubbers = Rubber.all %>

  <div class="form-group">
    <select name="rubber_id" class="custom-select">
      <% rubbers.each do |r| %>
        <option value="<%= r.id %>"><%= r.color %> / <%= r.width %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <input name="count" type="text" class="form-control">
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
  </div>
<% end %>
