<h1>Edit zipper <%= @zipper.id %> <%= @zipper.name %></h1>
<h3>Current count: <%= @zipper.count %></h3>

<%= form_with(model: @zipper, local: true) do |form| %>
  <% if @zipper.errors.any? %>
    <div id="error_explanation" style="font-color: red;">
      <h2><%= pluralize(@zipper.errors.count, "error") %> prohibited this zipper from being saved:</h2>

      <ul>
      <% @zipper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <input name="count" type="number" min="1" placeholder="Count" class="form-control">
  </div>

  <div class="form-group">
    <input type="checkbox" name="substract"> Substract
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-dark" %>
    <%= render 'buttons', zipper: @zipper %>
  </div>
<% end %>
