<!DOCTYPE html>
<html>
  <head>
    <title>AlphaCatalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="localhost:3000/">AlphaCatalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="<%= clients_path %>">Clients</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= articles_path %>">Articles</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= fabrics_path %>">Fabrics</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= buttons_path %>">Buttons</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= threadings_path %>">Threadings</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= zippers_path %>">Zippers</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= rubbers_path %>">Rubbers</a></li>
            <li class="nav-item">
              <a class="nav-link" href="<%= labels_path %>">Labels</a></li>
          </ul>
        </div>
      </nav>

      <br>

      <%= yield %>
    </div>
  </body>
</html>
